/* .peygiri-massage {
    width: 100vw;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
} */
.peygiri-contianer {
    width: 100%;
    /* max-width: 40rem; */
    height: fit-content;
    display: none;
    flex-direction: column;
    justify-content: center;
    margin-right: 2%;
}

.peygiri {
    width: 55% ;
    max-height: 35rem;
    background-color: rgba(255, 255, 255, 0.69);
    border-radius: .4rem;
    margin: 2%;
    margin-right: 4%;
    padding: 1%;
    font-size: 1.1rem;
    font-weight: bolder;
}
.filter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;

}
.filter .form1 select {
    font-family: Bnazanin;
    width: 10rem;
    border-radius: 5px ;
}


.peygiri hr , .replay-massage hr {
        width: 100%;
        border: 1px solid #000000 ;
        background-color: black;
}
.filter .form1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* .form2 {
    display: none;
} */

.contianer-ticket-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-height: 26rem;
    overflow-y: scroll;
}
 .ticket-list {
     /* display: flex;
     flex-direction: row;
     justify-content: space-between; */
     display: grid;
     grid-template-columns: 10% 50% 25% 15%;
     text-align: center;
     list-style-type: none;
     background-color: red;
     border: 1px solid black;
     border-radius: .2rem;
     margin-top: .3rem;
     padding: 0 .5rem;
 }
/* .ticket-list li {
    height: 1.7rem;
    overflow: scroll;
} */


         /* massage replay css */

.contianer-replay-massage {
    width: 100%;
    max-width: 50rem;
    height: fit-content;
    min-height: 25rem;
    /* display: flex; */
    display: none ;
    flex-direction: row;
    justify-content: flex-end;
}

.replay-massage {
    width: 90% ;
    max-height: 40rem;
    background-color: rgba(255, 255, 255, 0.69);
    border-radius: .4rem;
    margin: 2%;
    padding: 0 1%;
    font-size: 1.1rem;
    font-weight: bolder;

}
.replay-massage-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
.pbtn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
.btn-back-massage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: end;
    align-self: flex-end;
    font-size: 2rem;
    margin: .5rem 2rem .5rem 0;
    color: #ffffff;
    cursor: pointer;
    text-decoration: none;
}
.send-recive-massage {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 19rem;
    /* flex-wrap: wrap; */
}
.send-massage , .recive-massage {
    width: 65%;
    margin-top: 1rem;
    border-radius: 1rem;
    /* padding: 1rem; */
    max-height: 14rem;
    max-width: 23rem;
    /* overflow: scroll; */
}
.margin-massage {
    margin: 0 .7rem;
    margin-top: .5rem;

}
.send-massage p , .recive-massage p {
    max-height: 11rem;
    overflow-y: scroll;
}
::-webkit-scrollbar {
    width: .5rem;
}
  

.send-massage {
    align-self: flex-start;
    background-color: #94DE1D;
}
.recive-massage {
    align-self: flex-end;
    background-color: #EF295E;
    margin-bottom: 1rem;
}
.btn-reply {
    width: 35%;
    margin-bottom: .5rem;
    height: 2.5rem;
    padding: 0.2rem;
    border-radius: 6px;
    font-size: 1rem;
    font-family: inherit;
    color: white;
    background-color: #EF295E;
    border: 1.5px solid rgb(0 0 0 / 52%);
    align-self: flex-end;
}

.change-condition {
    width: 8rem;
    height: 2rem;
    border: 1px solid black;
    border-radius: .4rem;
    font-family: Bnazanin;
    font-size: 1rem;
    align-self: center;
    margin-top: .5rem;
}


@media screen and (max-width: 768px) {
    .peygiri-contianer {
        flex-direction: row;
    }
    .peygiri {
        width: 100%;
    }
    .contianer-replay-massage {
        justify-content: center;
    }
    .replay-massage {
        width: 100%;
    }
}
@media screen and (max-width: 554px) {
    .peygiri {
        width: 90%;
    }
}
@media screen and (max-width: 375px) {
    .peygiri {
        width: 100%;
        margin: 5px 0;
    }
    .filter {
        flex-direction: column;
        align-items: flex-start;
    }
    .moror {
        align-self: center;
        margin-bottom: .2rem;
    }
}